.venv/
__pycache__/
*.pyc
.DS_Store
data/cache/
data/glue/
results/checkpoints/
results/*.log
*.log
.ipynb_checkpoints/
final_deliverables.pdf
poster/poster.aux
poster/tex.log

# HuggingFace cache
.cache/
hub/

# PyTorch artifacts
*.pt
*.pth
*.pkl

# wandb
wandb/
outputs/

